*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0E0E16;
    scroll-behavior: smooth;
}
:root{
    --bg__color:#0e0e16;
    --secondary__color:#606062;
    --text:#fff;

    /*fuentes*/
    --primary:'Montserrat', sans-serif;
    --secondary:'Signika', sans-serif;
    --tercera:'Libre Franklin', sans-serif;
}

header img{
    height: 8vh;
    margin-left: 20px;
}
header{
    border-bottom: 1px #606062 solid;
    border-radius: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
header, 
.navbar{
    display: flex;
    gap: 100px;
    align-items: center;
}

.navbar__list ul,
.register__nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 13px;
    font-family:poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.register__nav{
    position: absolute;
    right: 10px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
#hero{
    display: flex;
    align-items: center;
    height: 90vh;

    margin-bottom: 5vh;
    max-width: 100vw;
}
.hero__img{
    height: 70vh;
    margin-top: 5vh;
    transform: translate(200%);
    max-width: 50vw;
    max-height: 800px;
}
h1,h2, button{
    color: #FFFFFF;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 800;
    margin-top: 40px;
    text-transform:uppercase;
}
h2{
    font-family: 'Signika', sans-serif;
    font-weight: 100;
    font-size: 20px;
}
.about__title{
    font-size: 30px;
}
.violet{
    background: rgb(100,58,250);
    background: linear-gradient(177deg, rgba(100,58,250,1) 45%, rgba(135,235,255,1) 100%);
    background-clip: text;
    color: transparent;
    font-size: 40px;
}
.hero__info{
    margin-top: 50px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;

}

button{
    border: 1px solid #8464f6;
    text-decoration: none;
    padding: 10px;
    background-color: #8464f6;
    border-radius: 1rem;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Signika', sans-serif;
}
button:hover{
    scale: 1.07;
    background-color: #765adc;
    transition: all 1s;
}

.about__text{
    color: #606062;
    font-family: 'Signika', sans-serif;;
    margin-bottom: 25px;
}
.card__img{
    height: 200px;
    width: 250px;
    padding: 20px;
    background-color: var(--secondary);
    border-image: 1rem;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 84vh;
    left:2vw;
    width: 80vw;

}
.about__title, .about__text, .card__container{
    margin-left: 20%;

}
.about__container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__container{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    margin-bottom: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    border-radius: 1rem;
    text-align: center;
    gap: 20px;
    background-color: var(--secondary__color);
    opacity: 0.5;
}
.card:hover{
    opacity: 1;
    scale: 1.1;
    transition: all 1s;
}
.card__text{
    font-family: var(--secondary);
    padding: 0px 10px;
}
h3{
    font-family: var(--primary);
}

.card, .card__title, .card__text{
    background-color: var(--secondary__color);
}
#call__to-action{
    position: absolute;
    top: 180vh;
}
.trainer, .athlete{
    display: flex;
}
.trainer__container, .athlete__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 50%;
}
.trainer__title, .athlete__title{
    font-size: 70px;
    font-family: var(--primary);
    color: var(--text);
}

.trainer__info, .athlete__info{
    font-family: var(--secondary);
    color: var(--secondary__color);
    font-size: 25px;
}
.athlete__container{
    gap: 15px;
    height: 95vh;
}
.zone, .zone option{
    width: 100%;

}
.athlete__img{
    height: 90vh;
    margin-left: 6vw;
}
hr{
    width: 70%;
    margin-left: 15%;
    color: var(--secondary__color);
}


#contact{
    position: absolute;
    top: 390vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: 1px solid var(--secondary__color);
    border-radius: 1rem;
    margin-left: 5%;
    margin-bottom: 30px;
    z-index: 15;

    
}
.contact__form{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 90%;
    z-index: 10;
}

input, select{
    border-style: none;
    border: 1px solid var(--secondary__color);
    border-radius: 1rem;
    padding: 10px 0px;
    display: flex;
    text-align: center;
}
.contact__title{
    font-family: var(--secondary);
    color: var(--text);
    font-size: 13px;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    z-index: 1;
}
.checkbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.option{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 20px;
}
.option__container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.checkbox p, .checkbox label{
    font-family: var(--secondary);
    color: var(--secondary__color);
}

.contact__btn{
    margin-bottom: 10px;
}
iframe{
    width: 40%;
    position: absolute;
    top: 390vh;
    height: 59vh;
    right: 5%;
}

footer{
    position: absolute;
    top: 480vh;
    width: 100%;
}
footer ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
}
footer ul li{
    font-family: var(--secondary);
    color: var(--text);
    padding: 30px 0;
}
.footer__hr{
    position: absolute;
    top: 480vh;
    z-index: 1;

}

/*PAGINAS SIGN-IN Y REGISTER*/

.sign__img{
    width: 20vw;
    margin-left: 5%;
}

.sign__in-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}
.sign__in{
    width: 25vw;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary__color);
    padding: 10px 25px 20px 25px;
    gap: 15px;
    border-radius: 1rem;
    align-items: center;
}
.remember{
    display: flex;
    gap: 20px;

}
.remember p{
    font-family: var(--primary);
    color: var(--secondary__color);
}

.registrate{
    color: var(--text);
    text-decoration: underline;
}
.email, .pw{
    width: 80%;
}
.sign__in p, .sign__in a{
    font-family: var(--primary);
    color: var(--secondary__color);
}

/*Register*/


.register{
    min-width: 350px;

}
.register__logo img{
    width: 40%;
    padding-bottom: 0;
    margin-left: 30%;
    margin-top: 50px;
}
.register h1{
    margin: 0;
}
.names{
    display: flex;
    gap: 5px;
    
}
.names input{
    width: 30%;
    position: relative;
    left: 17%;
}
#passwordR, #E-mail, option{
    width: 42%;
}
.terms{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    padding: 0px 10px;
}
.terms p{
    font-family: var(--primary);
    color: var(--secondary__color);
}
.register__btn{
    margin-bottom: 20px;
}
select, option{
    color: var(--secondary__color);
    width: 42%;
}